.links{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: black;
    height: 50px;
    margin-bottom: 20px;
}
.links li{
    list-style: none;
    text-align: center;
    margin: 0 auto;
}
.link{
    font-size: 23px;
    color:white;
    text-decoration: none;

}
.link:hover{
    color: crimson;
    border-bottom: solid crimson;
}
